@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: Lato;
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: red;
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 5%;
    box-shadow: 0 5px 10px black;
}

header a img{
    float: left;
    width: 7%;
    margin: 5px 20px 5px 50px;
    transition: scale 0.5s ease-in-out, rotate 1s ease-in, margin-bottom 0.7s ease-in;
}

header h1 a{
    color: white;
    text-decoration: none;
}

header a img:hover{
    scale: 1.5;
    rotate: 360deg;
    margin-bottom: 20px;
}

header nav ul{
    list-style: none;
    margin-top: 3%;
}

header nav ul li{
    display: inline;
    margin: 0 5% 0 5%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

nav ul li a:hover{
    text-decoration: underline;
}

hr{
    width: 75%;
    box-shadow: 0 2px 5px red;
    margin-top: 10%;
}

section{
    margin: 0 auto;
}
section h2{
    background-color: red;
    width: 15%;
    text-align: center;
    border-radius: 25px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px;
    box-shadow: 0 5px 10px black;
    margin-left: 5rem;
    margin-top: 10%;
}

#inicio div{
    display: flex;
    margin-left: 20%;
}

#inicio div p{
    background-color: rgb(233, 74, 74);
    padding: 5%;
    border-radius: 10px;
    box-shadow: -10px 5px 10px black;
}

#personajes div{
    display: flex;
}

article{
    overflow: hidden;
    background-color: rgb(233, 74, 74);
    border-radius: 10px;
    width: 100%;
    
}

article img{
    width: 250%;
    float: right;
}

footer{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
    background-color: red;
    padding: 20px;
}

.redes a{
    grid-column: 2;
    margin-top: 10px;
}

.redes a img{
    width: 40px;
    margin-left: 10px;
    transition: rotate 1s ease, scale 0.5s ease-in-out, margin 0.5s ease-in;
}

.redes a img:hover{
    rotate: 360deg;
    scale: 1.5;
    margin: 0 10px 0 20px;
}